// ##############################--Global Variables--##############################
$accent: orange;
$accent-2: white;
$background: #334;
$small_image_scale: 50px;
// ##############################--Global Fonts--##############################
.oswald {
	font-family: "Oswald", sans-serif;
}
.quickSand {
	font-family: "Quicksand", sans-serif;
}
.vibes {
	font-family: "Vibes", cursive;
}
.shadows {
	font-family: "Shadows Into Light", cursive;
}

.elite {
	font-family: "Special Elite", cursive;
}
.bangers {
	font-family: "Bangers", cursive;
}
// ##############################--Global Classes--##############################
.glass {
	background-image: linear-gradient(
		-70deg,
		rgba(0, 0, 0, 0.3),
		rgba(10, 10, 0, 0.2) 100%,
		rgba(0, 0, 0, 0.5)
	);
	box-shadow: 0 0 5px black;
}
.centeredHeading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: $background;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
.fa-link * {
	font-size: 10px;
}
// ##############################--Elements--##############################
body {
	margin: 0;
	padding: 0;
	header {
		width: 100%;
	}
}
// ##############################--Images--##############################

.logo {
	max-width: $small_image_scale;
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 9999999;
}
// ##############################--NavBar--##############################
.nav-container {
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	a {
		color: $accent;
	}
	background-color: rgba(68, 51, 51, 0.2);
}

// ##############################--Hero--##############################
.hero {
	color: white;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 2em;

	// ##############################--Elements--##############################
	h1 {
		text-shadow: 0 2px 5px black;
		color: $accent;
	}
	a {
		color: $accent;
	}
	a:hover {
		color: $accent;
	}
	.resume-button a {
		background: rgba(0, 0, 0, 0);
		border-radius: 10px;
		color: $accent;
		padding: 0.5em;
		font-weight: 400;
		transition: 250ms;
		border: 3px solid rgba(0, 0, 0, 0);
	}
	.resume-button a:hover {
		// background: $accent;
		font-weight: bold;
		color: white;
		border: 3px solid white;
	}
	// ##############################--Sections--##############################
	.subsearch {
		margin-top: 0.5em;
	}

	// ##############################--Search Bar--##############################
	.search-container {
		$search-padding: 10em;
		padding-left: $search-padding;
		padding-right: $search-padding;
		input {
			border: none;
			border-radius: 5px;
			background-color: rgba(255, 255, 255, 0);
			border: $accent 3px solid;
			color: $accent-2;
			padding: 0.5em;
			box-shadow: 0 2px 5px black;
		}
		input:focus::placeholder {
			border-radius: 5px;
		}
		input:focus {
			background-color: rgba(0, 0, 0, 0);
			color: white;
			border: $accent 3px solid;
			box-shadow: 0 2px 5px black;
		}
		input::placeholder {
			color: $accent-2;
			text-align: center;
		}
	}
}
#related-work {
	position: relative;
	width: 100%;
	height: 100vh;
	// box-shadow: inset 0 0 10em black;
	background-color: #333;
	color: white;
	padding: 2em;
}

// ##############################--Feature Card--##############################
.card {
	color: white;
	background-color: #334;
	background-image: linear-gradient(
		-70deg,
		rgba(0, 0, 0, 0.3),
		rgba(150, 70, 0, 0.2),
		rgba(0, 0, 0, 0.5)
	);
	padding: 1.5em;
	border-radius: 5px;
	box-shadow: 0 3px 5px black;
	display: flex;
	flex-direction: column;
	max-width: 30em;
	.row {
		display: flex;
		flex-direction: row;
		padding-bottom: 1em;
	}
	.row * {
		width: 100%;
	}
	.css-container textarea {
		width: 100%;
		height: 300px;
		resize: none;
	}
	.relative {
		position: relative;
	}
	.maximize-button {
		background-color: #eee;
		color: black;
		display: inline;
		padding: 0.5em;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		top: 0.5em;
		right: 0.5em;
	}
	.image-container {
		justify-content: space-around;
		align-items: center;
	}
	.img-box {
		width: 5em;
		height: 5em;
		background-color: tomato;
		border-radius: 5px;
		box-shadow: 0 0 5px black;
		transition: height 500ms ease-in-out, width 500ms ease-in-out;
		box-sizing: border-box;
	}
	.img-box:hover {
		width: 8em;
		height: 8em;
		cursor: pointer;
	}
	.card-title {
		font-size: 1em;
		text-align: center;
	}
	.view-now-button {
		background-color: tomato;
		border-radius: 5px;
		text-align: center;
		padding: 0.5em;
		cursor: pointer;
		box-shadow: inset 0 0 2px black;
		transition: box-shadow 250ms ease-in-out;
	}
	.view-now-button:hover {
		box-shadow: inset 0 0 5px black;
	}
	.active-image-container {
		width: 100%;
		height: 10em;
		background-color: tomato;
		border-radius: 5px;
		box-shadow: 0 0 5px black;
	}
	.technologies {
		padding: 0.5em;
		font-size: 0.7em;
		text-align: center;
	}
}
