// ##############################--Global Variables--##############################
$accent: orange;
$accent-2: #ccc;
$accent-3: rgba(31, 37, 41, 1);
$accent-4: #55a;
$accent-5: #335;
$background-light: #334;
$background: rgba(11, 12, 12, 1);
$small_image_scale: 50px;
// ##############################--Global Fonts--##############################
.oswald {
	font-family: "Oswald", sans-serif;
}
.quickSand {
	font-family: "Quicksand", sans-serif;
}
.vibes {
	font-family: "Vibes", cursive;
}
.shadows {
	font-family: "Shadows Into Light", cursive;
}

.elite {
	font-family: "Special Elite", cursive;
}
.bangers {
	font-family: "Bangers", cursive;
}
// ##############################--Global Classes--##############################
.glass {
	background-image: linear-gradient(
		-70deg,
		rgba(0, 0, 0, 0.3),
		rgba(10, 10, 0, 0.2),
		rgba(0, 0, 0, 0.5)
	) !important;
	box-shadow: 0 0 5px black;
}
.centeredHeading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: $background;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}
.fa-link * {
	font-size: 10px;
}
.accent {
	color: $accent;
}
.accent-2 {
	color: $accent-2;
}
// ##############################--Elements--##############################
body {
	margin: 0;
	padding: 0;
	margin-bottom: 20em !important;
	header {
		width: 100%;
	}
	background: $accent-3 !important;
}
a {
	color: $accent !important;
}
a:hover {
	color: $accent !important;
}

// ##############################--Images--##############################

#logo-tray {
	position: fixed;
	bottom: 1em;
	right: 1em;
	display: flex;
	flex-direction: column-reverse;
	z-index: 9999999;

	ul {
		display: flex;
		padding-right: 3em;
		margin-right: -20em;
		opacity: 0;
		transition: ease-in-out margin-right 250ms, ease-in-out opacity 100ms;
		li {
			list-style-type: none;
			padding: 0.5em;
			line-height: 0.1em;
		}
	}
	.logo {
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: $small_image_scale;
		cursor: pointer;
	}
	// .logo:hover + ul {
	// 	margin-right: 0;
	// 	opacity: 1;
	// }
}
#logo-tray:hover {
	ul {
		margin-right: 0;
		opacity: 1;
	}
}
// ##############################--NavBar--##############################
.nav-container {
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	a {
		color: $accent;
	}
	background-color: rgba(68, 51, 51, 0.2);
}

// ##############################--Hero--##############################
.hero {
	color: $accent-2;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 2em;

	// ##############################--Elements--##############################
	h1 {
		text-shadow: 0 2px 5px black;
		color: $accent;
	}
	.resume-button a {
		background: rgba(0, 0, 0, 0);
		border-radius: 10px;
		color: $accent;
		padding: 0.5em;
		font-weight: 400;
		transition: 250ms;
		border: 3px solid rgba(0, 0, 0, 0);
	}
	.resume-button a:hover {
		// background: $accent;
		font-weight: bold;
		color: $accent-2;
		border: 3px solid $accent-2;
	}
	// ##############################--Sections--##############################
	.subsearch {
		margin-top: 0.5em;
	}

	// ##############################--Search Bar--##############################
	.search-container {
		$search-padding: 10em;
		padding-left: $search-padding;
		padding-right: $search-padding;
		input {
			border: none;
			border-radius: 5px;
			background-color: rgba(255, 255, 255, 0);
			border: $accent 3px solid;
			color: $accent-2;
			padding: 0.5em;
			box-shadow: 0 2px 5px black;
		}
		input:focus::placeholder {
			border-radius: 5px;
		}
		input:focus {
			background-color: rgba(0, 0, 0, 0);
			color: $accent-2;
			border: $accent 3px solid;
			box-shadow: 0 2px 5px black;
		}
		input::placeholder {
			color: $accent-2;
			text-align: center;
		}
	}
}
#related-work {
	position: relative;
	width: 100%;
	// box-shadow: inset 0 0 10em black;
	background-image: linear-gradient(180deg, $background 70%, $accent-3);
	color: $accent-2;
	padding: 2em;
	h3 {
		text-decoration: underline;
	}
	p {
		text-indent: 2em;
	}
	p::first-letter,
	.card-title::first-letter {
		font-size: 1em;
		font-weight: bold;
		color: $accent;
		text-transform: uppercase;
	}
}
// ##############################--Feature Card--##############################
.feature-card-output {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	@media (max-width: 991px) {
		justify-items: center;
	}
}
// 991 - 768

.featured-cards {
	position: relative;
	button.addPost {
		position: absolute;
		top: 1em;
		right: 1em;
	}
}

.card {
	color: $accent-2;
	background-color: $background !important;
	background-image: linear-gradient(
		-70deg,
		rgba(0, 0, 0, 0.3),
		$accent-3,
		rgba(0, 0, 0, 0.5)
	);
	padding: 1.5em;
	border-color: $accent !important;
	border-radius: 5px;
	box-shadow: 0 3px 5px black;
	display: flex;
	flex-direction: column;
	max-width: 30em;
	transition: box-shadow 250ms ease-in-out;
	.row {
		display: flex;
		flex-direction: row;
		padding-bottom: 0.25em;
	}
	.description {
		text-align: left;
	}
	.row * {
		width: 100%;
	}
	.css-container textarea {
		width: 100%;
		height: 300px;
		resize: none;
	}
	.relative {
		position: relative;
	}
	.maximize-button {
		background-color: #eee;
		color: black;
		// display: inline;
		padding: 0.5em;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
		top: 0.5em;
		right: 0.5em;
	}
	.image-container {
		justify-content: space-around;
		align-items: center;
	}
	.img-box {
		position: relative;
		width: 5em;
		height: 5em;
		background-color: $accent-3;
		border-radius: 5px;
		box-shadow: 0 0 5px black;
		transition: height 500ms ease-in-out, width 500ms ease-in-out;
		box-sizing: border-box;
		margin: 0.25em;
		.img-button-container {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
	.img-box:hover {
		width: 6em;
		height: 6em;
		cursor: pointer;
	}
	.card-title {
		font-size: 1em;
		text-align: center;
		text-decoration: underline;
	}
	.view-now-button {
		background-color: $accent-3;
		border-radius: 5px;
		text-align: center;
		padding: 0.5em;
		cursor: pointer;
		box-shadow: inset 0 0 2px black;
		transition: box-shadow 250ms ease-in-out;
	}
	.view-now-button:hover {
		box-shadow: inset 0 0 5px black;
		text-shadow: 0 0 5px white;
	}
	.active-image-container {
		width: 100%;
		height: 10em;
		background-color: $accent-3;
		border-radius: 5px;
		box-shadow: 0 0 5px black;
	}
	.technologies {
		padding: 0.5em;
		font-size: 0.7em;
		// text-align: center;
		// display: flex;
	}
	.auth-post-actions {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		display: flex;
		li {
			list-style: none;
		}
		li:hover {
			color: $accent;
			cursor: pointer;
		}
	}
}
.card:hover {
	box-shadow: 0 0 10px $accent;
}

// ##############################--Feature Modals--##############################
.technology {
	padding: 0.25em;
	background-color: #aaa;
	border-radius: 10px;
	box-sizing: border-box;
	position: relative;
	transition: 250ms ease-in-out;
	margin-right: 0.5em;
	max-width: 5em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	.close {
		position: absolute;
		right: 0.25em;
		top: 0;
		opacity: 0;
		transition: 100ms ease-in-out opacity;
		transition-delay: 0;
	}
}
.technology:hover {
	padding-right: 1.5em;

	.close {
		opacity: 1;
		transition: 250ms ease-in-out opacity;
		transition-delay: 100ms;
	}
}
#technology-output {
	display: grid;
	grid-gap: 3px;
	grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
	margin-bottom: 2em;
}

#resume {
	padding: 1em;
	color: $accent-2;
	li {
		list-style: none;
	}
	p {
		text-indent: 2em;
	}
	#personal {
		display: flex;
		justify-content: space-evenly;
		.name {
			font-size: 2em;
		}
		.title {
			font-size: 1em;
			line-height: 3.5em;
		}
	}
	#projects {
		em {
			color: $accent;
		}
	}
	#skills {
		li {
			list-style: circle;
		}
	}
	#work-experience {
		em {
			text-indent: 40px;
		}
		li {
			list-style: square;
		}
		strong {
			color: $accent;
		}
	}
}
